
.nameOfStudent{
    text-align: center;
}

.studentBlock{
    padding-left: 20px;
    padding-right: 20px;
    padding-block: 20px;
    margin: 1vh;
    border: solid black 2px;
    border-radius: 10px;
}
   
   
   