.Zamena {
    text-align: right;
    float: right;
    padding: 0px;
  
}

.OjidZamena{
    text-align: right;
    float: right;
    vertical-align: auto;
    line-height: 1.5715;
}

.navText{
    color: black;
}

.noSeats{
    text-align: center;
}