html {
    box-sizing: border-box;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
    word-wrap: normal;
   
}

body {
    min-height: calc(100vh - 100px);
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}
html,
body {
  width: unset;
}

*, 
*:before,
*:after {
    box-sizing: border-box;
}

